* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  list-style: none;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

:root {
  --primaryColor: #86bbff;
  --none: #66f29c;
  --low: #79f266;
  --moderate: #e9f266;
  --high: #f2aa66;
  --very-high: #f26666;
}
